.navigation {
  display: flex;
  justify-content: space-between;
  width: 485px;
}

.navigation__item {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-white);
  opacity: 0.6;
  text-decoration: none;
}

.navigation__item.navigation__item_active,
.navigation__item:hover {
  color: var(--color-red);
  opacity: 1;
}
