.card {
  width: 360px;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s all;
}

.card__top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 155px;
}

.card__image {
  height: 265px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.card__price {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 24px;
  color: var(--color-black);
}

.card__title {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 32px;
  color: var(--color-black);
}

.card__description {
  width: 260px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-black);
  opacity: 0.6;
}

.card__bottom {
  height: 57px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card__inner {
  display: grid;
  grid-template-columns: 57px 57px;
  grid-template-rows: 28.5px 28.5px;
  width: 114px;
  
}

.card__count {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 1px solid var(--color-black);
  border-radius: 2px 0 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
}

.card__plus {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border-top: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);
  border-radius: 0 2px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card__minus {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border-top: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  border-radius: 0 0 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card__button {
  width: 167px;
  height: 100%;
  border-radius: 5px;
  border: none;
  background-color: var(--color-red);
  cursor: pointer;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 18px;
  color: var(--color-white);
  margin-right: 40px;
}
