.cart-icon {
  width: 53px;
  height: 46px;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}

.cart-icon path {
  stroke: var(--color-white);
  transition: all 0.2s ease;
}

.cart-icon:hover path {
  stroke: var(--color-red);
  transition: all 0.2s ease;
}

.cart-icon svg {
  width: 41px;
  height: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.cart-icon__circle {
  width: 20px;
  height: 20px;
  background: var(--color-red);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.cart-icon__count {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-white);
}