@import "https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500&display=swap";

:root {
  --color-white: #fff;
  --color-red: #FF4B32;
  --font-primary: "Open Sans";
  --font-secondary: "Josefin Sans";
}

html {
  font-family: sans-serif;
}

body {
  font-family: var(--font-primary);
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  background-color: #1f1e19;
}

.container {
  max-width: 988px;
  margin: 0 auto;
  height: 3000px;
}