@import "https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500&display=swap";

:root {
  --color-white: #fff;
  --color-red: #FF4B32;
  --color-black: #000000;
  --color-grey: #b6b4a2;
  --font-primary: "Open Sans";
  --font-secondary: "Josefin Sans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.hero {
  position: relative;
  height: 100vh;
  background: url(/assets/images/background/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero__inner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero__header {
  display: flex;
  justify-content: space-between;
}

.hero__logo {
  display: flex;
  align-items: flex-end;
}

.hero__logo-text {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 24px;
  color: var(--color-red);
  margin-left: 9px;
}

.hero__nav {
  display: flex;
  align-items: center;
}

.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 530px;
  height: 410px;
}

.hero__title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 58px;
  line-height: 120%;
  color: var(--color-white);
}

.hero__description {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: var(--color-white);
  opacity: 0.8;
}

.hero__button {
  width: 150px;
  height: 60px;
  border-radius: 5px;
  border: none;
  background-color: var(--color-red);
  cursor: pointer;
  color: var(--color-white);
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
}

[data-carousel-holder] {
  margin-top: 60px;
}