.carousel {
  min-height: 735px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.carousel__name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 510px;
  min-height: 135px;
}

.carousel__title {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 43px;
  line-height: 130%;
}

.carousel__description {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.7;
}

.carousel__arrow {
  position: absolute;
  z-index: 2;
  bottom: 255px;
  width: 22px;
  height: 35px;
  cursor: pointer;
  opacity: 0.7;
  transition: all 1s ease;
}

.carousel__arrow_right {
  right: 0;
}

.carousel__arrow_left {
  left: 0;
  transform: rotate(180deg);
}

.carousel__arrow svg {
  width: 22px;
  height: 35px;
}

.carousel__arrow path {
  stroke: var(--color-grey);
  transition: all 0.2s ease;
}

.carousel__arrow:hover path {
  stroke: var(--color-black);
  transition: all 0.2s ease;
}

.carousel__inner {
  display: grid;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  column-gap: 35px;
  height: 540px;
  transition: all 1s ease;
}